@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap");

/* Global CSS */

:root {
  --urbanist: "Urbanist", sans-serif;
  --primary: #ffcc33;
  --secondary: #f5001e;
  --tertiary: #5324fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--urbanist);
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  box-shadow: 0 0 0 30px black inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

/* Home Page */

.navbar {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 65px;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);
  z-index: 50;
}

.menu {
  position: relative;
  cursor: pointer;
  height: 25px;
  width: 30px;
}

.menu div {
  width: 100%;
  background-color: white;
  height: 2px;
  transition: all 0.5s ease;
}

.top {
  position: absolute;
  top: 0;
}

.mid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.last {
  position: absolute;
  bottom: 0;
}

.top_menu {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
}

.mid_menu {
  opacity: 0;
}

.last_menu {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
  transform-origin: center;
}

.side_menu {
  position: absolute;
  right: 0;
  top: 65px;
  min-height: 250px;
  width: 400px;
  background: var(--primary);
  backdrop-filter: blur(40px);
  color: white;
  border-radius: 0 0 15px 15px;
  transition: opacity 0.5s ease;
  display: none;
  animation: fade 0.5s linear;
}

.show_menu {
  display: block;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.side_menu li {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.side_menu li a {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
  transition: all 0.3s ease;
}

.side_menu li:hover {
  background-color: var(--primary);
}

.side_menu li:hover a {
  color: black;
}

@media (max-width: 768px) {
  .side_menu {
    width: 100%;
    border-radius: 0;
    background-color: black;
  }
}

.background {
  background-image: url("images/home/application.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  min-height: calc(100vh - 65px);
  padding-left: 25px;
  overflow: hidden;
}

.home_hero h1 {
  font-size: 70px;
  font-weight: bold;
  animation: enter_from_left 0.5s linear 0s;
}

@media (max-width: 768px) {
  .home_hero h1 {
    font-size: 25px;
  }
}

.home_hero p {
  max-width: 600px;
  font-weight: 600;
  font-size: 20px;
  color: var(--primary);
  animation: enter_from_left 0.5s linear;
}

@keyframes enter_from_left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

main {
  background-color: black;
  color: white;
}

main .container {
  padding: 25px;
}

.why_reading {
  background-color: black;
  color: white;
  border-radius: 15px;
  text-align: center;
  padding: 25px;
}

.why_reading h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.why_reading p {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.title {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  color: var(--primary);
}

.examples div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 10px;
  margin: 10px 0;
  color: black;
}

.example1 {
  background-color: var(--secondary);
}

.example2 {
  background-color: var(--tertiary);
}

.example3 {
  background-color: var(--primary);
}

.image_content {
  width: 50%;
}

.image_content img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .examples div {
    flex-direction: column;
    padding: 10px;
  }
  .image_content {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .examples div:nth-child(even) {
    flex-direction: row-reverse;
  }
  .examples .heading_content {
    width: 50%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.user_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.contact input,
textarea {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  margin: 10px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  resize: none;
  font-weight: 600;
}

.contact input::placeholder,
textarea::placeholder {
  color: white;
  font-weight: 600;
}

.contact button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
}

/* How it works Page */

/* Manufacturing */

.manu_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.manu_header h5 {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
  padding: 8px;
  border-bottom: 2px solid var(--tertiary);
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .manu_header h5 {
    font-size: 17px;
  }
}

.manu_header h5:hover {
  color: var(--tertiary);
}

.manu_bg {
  background-image: url("images/manu/manubg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: calc(100vh - 65px);
}

.hero h1 {
  max-width: 500px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  animation: heading_fade 0.5s ease;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 25px;
  }
}

@keyframes heading_fade {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.manu_intro {
  display: flex;
  align-items: center;
}

.manu_definition h1 {
  font-size: 1.1rem;
  margin-bottom: 12px;
  color: var(--primary);
  overflow: hidden;
  letter-spacing: 0.15em;
  white-space: nowrap;
}

.manu_definition p {
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: 1.1px;
  max-width: 85%;
}

.manu_image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .manu_intro {
    flex-direction: column;
  }
  .manu_image {
    margin-top: 20px;
  }
  .manu_definition {
    text-align: center;
  }
  .manu_definition p {
    max-width: 100%;
  }
}

.usage p {
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: 1.1px;
  max-width: 85%;
  font-weight: 500;
}

.usage p a {
  color: var(--primary);
  font-weight: 600;
  text-decoration: underline;
}

.usage ul {
  padding: 25px;
}

.usage ul li {
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: 1.1px;
  font-weight: 500;
  list-style: disc;
}

.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

@media (min-width: 1022px) {
  .cases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
  }
  .cases div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  .cases div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .cases div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }
}

.case_container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  align-items: center;
  gap: 15px;
  border: 2px solid var(--primary);
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .case_container {
    width: 100%;
    height: 100%;
  }
}

.case_container::after,
.case_container::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  transition: all 0.5s ease;
}

.case_container::before {
  top: -25px;
  left: -25px;
  border-top: 3px solid var(--primary);
  border-left: 3px solid var(--primary);
}

.case_container::after {
  right: -25px;
  bottom: -25px;
  border-bottom: 3px solid var(--primary);
  border-right: 3px solid var(--primary);
}

.case_container:hover::before,
.case_container:hover::after {
  width: 120%;
  height: 120%;
}

.case_title {
  text-align: center;
  font-size: 28px;
  z-index: 20;
}

.case_container:hover .case_title {
  color: black;
}

.detail_btn {
  padding: 10px 20px;
  z-index: 10;
  border: none;
  border-radius: 10px;
  background-color: var(--primary);
  color: black;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-transform: uppercase;
}

.case_container:hover .detail_btn {
  background-color: black;
  color: white;
}

.detail_btn:hover {
  opacity: 0.9;
}

.cases div:nth-child(3) {
  grid-column: 1/3;
}

.case_modal {
  position: fixed;
  width: 550px;
  height: 100%;
  padding: 20px;
  background-color: var(--tertiary);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  display: none;
  z-index: 100;
  flex-direction: column;
  justify-content: space-around;
  animation: show_modal_animation 0.5s ease;
  overflow: scroll;
}

@media (max-width: 768px) {
  .case_modal {
    width: 100%;
  }
}

@keyframes show_modal_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.case_modal img {
  width: 100%;
  height: 100%;
}

.case_modal p {
  line-height: 30px;
  letter-spacing: 1.1px;
  font-weight: 500;
}

.close {
  cursor: pointer;
  display: block;
  margin: auto;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  background: var(--primary);
  font-weight: 600;
  font-size: 16px;
}

.pred_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pred_definition h1 {
  font-size: 1.1rem;
  margin: 12px 0;
  color: var(--primary);
  overflow: hidden;
  letter-spacing: 0.15em;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .pred_definition h1 {
    font-size: 2rem;
    animation: typing 5s steps(100, end) infinite;
  }

  .manu_definition h1 {
    animation: typing 5s steps(100, end) infinite;
    font-size: 2rem;
  }
}

@media (max-width: 540px) {
  .pred_definition h1 {
    font-size: 0.9rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.pred_definition p {
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}

.pred_image {
  display: flex;
  justify-content: center;
}

.pred_image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.pred_cases {
  padding-top: 25px;
  min-height: 400px;
  display: flex;
  gap: 0 20px;
}

.cases_title {
  width: 300px;
  display: flex;
  align-items: center;
  min-height: 400px;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.cases_title h1 {
  padding: 10px;
  font-size: 20px;
  color: var(--primary);
  text-align: center;
}

.cases_examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px 0;
}

.cases_examples div {
  position: relative;
  min-height: 90px;
  padding: 15px;
  font-size: 20px;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.cases_examples div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  height: 2px;
  width: 20px;
  background-color: var(--primary);
}

footer {
  min-height: 300px;
  background: var(--secondary);
}

.predictive {
  display: none;
}
